doctype html
html
  head
   meta(charset='utf=8')
   title Time_Feedback
  body
    h1
      a(href='/CYT') Time_Feedback
    p 당신의 시간을 입력하고 평가해보세요. 7가지의 항목으로 나누어서 입력한 후, 기간에 따른 평가를 받아보세요.
    h2
     a(href='/CYT/input') Input
    h2
     a(href='/CYT/eval') Evaluation
